html {
    scroll-behavior: smooth;
  }
  
  h1,
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  table,
  th {
    border: 2px solid black;
    border-collapse: collapse;
  }
  
  th {
    padding: 10px;
  }
  
  tr > td {
    border: 2px solid lightgray;
    padding: 5px;
  }
  
  table {
    border: 3px solid black;
  }
  
  .anchor > button {
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    font-size: 20px;
    cursor: pointer;
  }
  
  .anchor > button:hover {
    background-color: gray;
    color: white;
  }
  
  .listHeader {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #handleBtn {
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  